export FOR_HAP_SH=1
if [ -f ~/.bashrc ]; then
   source ~/.bashrc
fi
shopt -s expand_aliases
export PATH=$HAP_PATH/b:$PATH
alias ts2str='conv.py ts2str'
alias ip2str='conv.py ip2str'
alias shell=''

function hap() {
local prefix
if [ -z $HAP_PREFIX ]; then
    prefix=''
else
    prefix="$HAP_PREFIX."
fi
$HAP_PATH/hap.py $prefix$*
}
function is_valid_shell_cmd() {
    alias $1 || declare -F $1 || which $1
} &>/dev/null

function list_shell_completion() {
    compgen -A function -abck
}
