#port=2881
#data-dir=/var/lib/oceanbase/store
#redo-dir=/var/lib/oceanbase/store/redo
#datafile_size=2G
#datafile_next=2G
#datafile_maxsize=20G
#cpu_count=4
#memory_limit=3G
#system_memory=1G
#log_disk_size=5G