[Unit]
Description=seekdb

[Service]
User=root
Type=notify
ExecStart=/usr/libexec/oceanbase/scripts/seekdb_systemd_start
ExecStop=/usr/libexec/oceanbase/scripts/seekdb_systemd_stop
PIDFile=/var/lib/oceanbase/run/observer.pid
NotifyAccess=all
Restart=on-failure
RestartSec=3
KillMode=process
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
LimitSTACK=infinity

[Install]
WantedBy=multi-user.target
